[submodule "public"]
	path = public
	url = git@github.com:leedonggyu1848/leedonggyu1848.github.io.git
	branch = source
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:leedonggyu1848/hugo-PaperMod.git
