[submodule "public"]
	path = public
	url = https://github.com/leedonggyu1848/leedonggyu1848.github.io
	branch = source
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
	branch = release
